.banner {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Inter-Bold", Helvetica;
  font-size: 90px;
  color: #000;
  margin: 0;
  text-align: center;
}

.aboutus-section {
  display: flex;
  padding: 50px 100px;
  gap: 80px;
  align-items: flex-start;
}

.aboutus-section img {
  width: 600px;
  height: 600px;
  object-fit: cover;
  background-color: #d9d9d9;
  flex-shrink: 0;
}

.aboutus-section span {
  font-size: 30px;
  font-family: "Inter-ExtraBold", Helvetica;
  color: #0000b8;
  margin: 0 0 20px 0;
  display: block;
}

.aboutus-section p {
  font-size: 20px;
  line-height: 1.4;
  max-width: 900px;
  font-family: "Inter-Regular", Helvetica;
  margin: 0;
}

@media screen and (max-width: 1024px) and (min-width: 481px) {
  .banner {
    height: 350px;
  }

  .banner h1 {
    font-size: 70px;
    top: 40%;
  }

  .aboutus-section {
    padding: 40px 60px;
    gap: 50px;
    flex-wrap: wrap;
  }

  .aboutus-section img {
    width: 100%;
    max-width: 500px;
    height: 500px;
    margin: 0 auto;
  }

  .aboutus-section p {
    font-size: 18px;
    max-width: 100%;
  }

  .aboutus-section span {
    font-size: 28px;
  }
}

@media screen and (max-width: 480px) {
  .banner {
    height: 250px;
  }

  .banner h1 {
    font-size: 32px;
    top: 40%;
    padding: 0 20px;
    word-break: break-word;
  }

  .aboutus-section {
    flex-direction: column;
    padding: 30px 20px;
    gap: 30px;
    align-items: center;
  }

  .aboutus-section img {
    width: 100%;
    height: 300px;
    max-width: 100%;
  }

  .aboutus-section span {
    font-size: 24px;
    margin: 0 0 15px 0;
  }

  .aboutus-section p {
    font-size: 16px;
    line-height: 1.5;
    max-width: 100%;
  }
}
