.product__side__navbar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    padding-left: 0px;
    font-size: 20px;
    padding-right: 0px;
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    border-right: 10px solid #00008B;
}

.product__side__navbar a {
    text-decoration: none;
    color: black;
    margin-bottom: 30px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 10px;
}

.product__side__navbar .active {
    background-color: grey;
    color: white;
}

@media screen and (max-width: 900px) {
    .product__side__navbar {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        border-right: none;
        border-bottom: none;
        margin: 0 0 20px 0;
        padding: 10px;
        gap: 15px;
    }

    .product__side__navbar a {
        margin: 0;
        padding: 12px 20px;
        font-size: 15px;
        background-color: #f0f0f0;
        color: #333;
        text-align: center;
        border-radius: 4px;
        white-space: normal;
    }

    .product__side__navbar .active {
        background-color: #00008B;
        color: white;
    }
}