.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #00008B;
    width: 30%;
    text-align: center;
    height: auto;
    min-height: 400px;
    box-sizing: border-box;
}

.card__image__container img {
    width: 100%;
}

.card__title {
    font-size: 30px;
    margin-bottom: 10px;
}

.card__description {
    margin-bottom: 10px;
}

.card__btn {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: #00008B;
    color: white;
    cursor: pointer;
    text-decoration: none;
    /* Remove underline for Link */
    display: inline-block;
    /* Ensure proper sizing */
    text-align: center;
    /* Center text */
    border: none;
    /* Remove default button border if any */
}

@media screen and (max-width: 900px) {
    .card {
        width: calc(100% - 40px);
        margin: 20px auto;
        padding-bottom: 20px;
        height: auto;
    }

    .card__title {
        font-size: 25px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 901px) {
    .card {
        width: 45%;
    }
}