.scroll-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background: linear-gradient(to bottom, #D9D9D9, #737373);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 2000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    transform: translateY(20px);
}

.scroll-to-top.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.scroll-to-top:hover {
    background-color: #000060;
    transform: scale(1.1);
}

.scroll-to-top img {
    width: 25px; 
    height: 25px;
    object-fit: contain;
    pointer-events: none;
}

@media screen and (max-width: 600px) {
    .scroll-to-top {
        bottom: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
    }

    .scroll-to-top img {
        width: 20px;
        height: 20px;
    }
}