.header {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.header__s1 {
    display: flex;
    height: 100%;
    transition: transform 0.8s ease-in-out; 
}

.header__image {
    min-width: 100%; 
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    padding: 20px;
}
