.header {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.header__s1 {
    display: flex;
    height: 100%;
    transition: transform 0.8s ease-in-out;
}

.header__image {
    min-width: 100%;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    padding: 20px;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .header {
        height: 400px;
    }

    .header__image {
        padding: 15px;
    }
}

@media screen and (max-width: 480px) {
    .header {
        height: 250px;
    }

    .header__image {
        padding: 10px;
    }
}