.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: black;
    border-top: 5px solid #0000B8;
    background-color: white;
    border-bottom: 1px solid white;
    margin: 20px;
}

.footer__s1 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer__s1 p{
    font-size: smaller;
}

.footer__s1 img {
    height: 120px;

}

.footer__s2{
    text-align: center;
}

.footer__s2 a {
    color: white;
}

.footer__s2 h3{
    padding-bottom: 20px;
}

.footer__s3 {
    text-align: center;
}

.footer__s3__sub1__sub {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__s3__sub1__sub img {
    height: 40px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer__s3__sub1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer__s3__sub2__sub {
    display: flex;
    gap: 15px;
}

.footer__s3__sub2__sub img{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.footer__end{
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.footer__end a{
    color: white;
    font-size: medium;
    font-weight: normal;
}

@media screen and (max-width: 650px) { 
    .footer{
        display: block;
    }

    .footer__s1{
        justify-content: center;
        padding-bottom: 20px;
    }

    .footer__s2{
        padding-bottom: 20px;
    }

    .footer__s2 h3{
        padding-bottom: 20px;
    }

    .footer__s3__sub1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}